<div class="text-center m-5">
  <h1>ランダムちゃんβ<h1>
  <h3>~<%= randmon_title %>~</h3>  
</div>


<div class="row">
  <div class="form-group col-sm-8 offset-2">
  <%= form_with(model: @newword, local: true) do |f| %>
    <%= f.label :content, '2つ以上候補を入力してください' %>
    <%= f.text_field :content, class: 'form-control', placeholder: "例:ビール" %>
  </div>
    <%= f.submit '投稿', class: 'btn btn-primary col-sm-8 offset-sm-2 mb-5' %>
    <% end %>
</div>

  
  

<div class="text-center">
  <h2>現在の候補</h2>
</div>



<div class="row-1">
  <div class="col-sm-8 offset-2">
    <% @allwords.each do |words| %>
      <ul>
        <li><%= words.content %> : <%= link_to '削除', "/words/#{words.id}", method: :delete, class: "btn btn-danger btn-sm" %></li>
      </ul>
    <% end %>
  </div>
</div>


<% unless @allwords.empty? %>
<div class="row">
  <%= link_to 'ランダム', "/words/random", class: 'btn btn-dark btn-lg col-sm-8 offset-2' %>
</div>
<% end %>
